:root {
  --gradient-primary-bg: linear-gradient(#f76680, #57007b);
  --border-pink: #f76680;
  --darkest-gray-900: #1a202c;
  --darker-gray-800: ;
  --lighter-gray-700: #4a5568;
  --lightest-gray-600: #718096;
}
/* linear-gradient(#161490, #7476ed, #e56f8c); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  /* font-family: Inter; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.023%;
}
h1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: 71px;
}
h2 {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}
h2 span {
  font-weight: 400;
}
h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%;
}
.navbar {
  display: flex;
  padding: 10px 25px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 40px 0px #0000001a;
}

.nav ul {
  list-style: none;
  display: flex;
  max-width: 645px;
  padding: 10px 0px;
  margin: auto;
}
.nav ul li {
  list-style: none;
  /* display: flex; */
  max-width: 645px;
  padding: 0px 10px;
  margin: auto;
}

.nav a {
  text-decoration: none;
  color: #4a5568;
}
.contact-btn button {
  border-radius: 5px;
  background: linear-gradient(225deg, #6675f7 0%, #57007b 100%);
  color: white;

  padding: 14px 25px;
  border-radius: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}
.hero-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 148px 191px 0px 104px;
}
.hero-wrapper_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.hero-wrapper_text h1 {
  color: #1a202c;

  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: 71px;
}
.hero-wrapper_text h2 {
  color: var(--gray-gray-900, #1a202c);

  font-family: Inter;
  font-size: 53px;
  font-style: normal;
  font-weight: 800;
  line-height: 71px;
}
.hero-wrapper_text span {
  background: linear-gradient(180deg, #de4396 0%, rgba(13, 28, 159, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px;
}
.get-started_btn {
  color: #fff;
  display: flex;
  padding: 19px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #3d63ea;
  /* Btn-Shadow */
  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
}
.hero-wrapper p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 75px;
}
.Ourservices {
  background: #f9f9ff;
  max-width: 1440px;
  /* height: 602px; */
  flex-shrink: 0;
  /* align-items: center; */
  margin: auto;
}
.Ourservices h2 {
  color: var(--gray-gray-900, #1a202c);
  width: 308px;
  height: 41px;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  margin: auto;
}
.service-card {
  width: 1079px;
  height: 326px;
  flex-shrink: 0;
  /* gap:40; */
  padding: 36px 16px;
  margin: 160px 181px 116px 180px;
}
.card {
  display: flex;

  width: 333px;
  height: 287px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #fafafa;
  margin: 0px 40px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.inner-card {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: 38.5px 16px;
}
.card h4 {
  width: 271px;
  height: 25px;
  color: #2d3748;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%;
}
.card-logo img {
  border: 1px solid var(--border-pink);
  border-radius: 50%;
}
.development-text span,
.working-company span {
  font-weight: 400;
}
.main-image {
  width: 601px;
  height: 460px;
  flex-shrink: 0;
  /* position: relative; */
}
.play-icon {
  width: 58px;
  height: 58px;
  margin: 201px 270px;
  /* position: absolute; */
  top: 50%;
}
.development {
  display: flex;
  justify-content: space-evenly;
  margin-top: 180px;
  /* position: relative; */
}
.development-text p span {
  background: linear-gradient(#f76680, #57007b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.development-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 535px;
  padding-top: 20px;
}
.working-company_logo {
  display: inline-flex;
  align-items: flex-start;
  gap: 54px;
}
.btn-left img,
.btn-right img {
  width: 45px;
  height: 45px;
  gap: 22px;
  /* color: #57007b; */
}
.working-company {
}
.working-company button {
  display: inline-flex;
  align-items: flex-end;
}
.working-customers {
  margin-top: 124px;
  max-width: 945px;
}
.working-customers h2 {
  text-align: center;
}
.rated-images{
  display: flex;
justify-content: center;
align-items: center;
gap: 76px;
}
