:root {
  --gradient-primary-bg: linear-gradient(#f76680, #57007b);
  --darkest-gray-900: #1a202c;
  --darker-gray-800: ;
  --lighter-gray-700: #4a5568;
  --lightest-gray-600: #718096;
}
/* linear-gradient(#161490, #7476ed, #e56f8c); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  padding: 10px 25px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 40px 0px #0000001a;
}

.nav ul {
  list-style: none;
  display: flex;
  max-width: 645px;
  padding: 10px 0px;
  margin: auto;
}
.nav ul li {
  list-style: none;
  /* display: flex; */
  max-width: 645px;
  padding: 0px 10px;
  margin: auto;
}

.nav a {
  text-decoration: none;
  color: #4a5568;
}
.contact-btn button {
  border-radius: 5px;
  background: linear-gradient(225deg, #6675f7 0%, #57007b 100%);
  color: white;

  padding: 14px 25px;
  border-radius: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}
.hero-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 148px 191px 0px 104px;
}
.hero-wrapper_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.hero-wrapper_text h1 {
  color: #1a202c;

  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: 71px;
}
.hero-wrapper_text h2 {
  color: var(--gray-gray-900, #1a202c);

  font-family: Inter;
  font-size: 53px;
  font-style: normal;
  font-weight: 800;
  line-height: 71px;
}
.hero-wrapper_text span {
  background: linear-gradient(180deg, #de4396 0%, rgba(13, 28, 159, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px;
}
.get-started_btn {
  color: #fff;
  display: flex;
  padding: 19px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #3d63ea;
  /* Btn-Shadow */
  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
}
.hero-wrapper p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 75px;
}
.Ourservices {
  background: #f9f9ff;
  max-width: 1440px;
  height: 602px;
  flex-shrink: 0;
  /* background: #F9F9FF); */
}
.service-card {
  width: 1079px;
  height: 326px;
  flex-shrink: 0;
  padding: 36px 16px;
}
.card {
  display: flex;

  width: 333px;
  height: 287px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #fafafa;

  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.card h4 {
  width: 271px;
  height: 25px;
  color: var(--gray-gray-800, #2d3748);

  /* font-family: Inter; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%;
}
.card-logo img {
  border: 1px solid var(--gradient-primary-bg);
  border-radius: 50%;
}
